*.xml filter=lfs diff=lfs merge=lfs -text
wsusscn2.cab filter=lfs diff=lfs merge=lfs -text
wsusscn2/package64.cab filter=lfs diff=lfs merge=lfs -text
wsusscn2/package65.cab filter=lfs diff=lfs merge=lfs -text
wsusscn2/package66.cab filter=lfs diff=lfs merge=lfs -text
